.app {
  display: flex;
  height: 100vh;
  .menu {
    width: 200px;
    height: 100%;
  }
  .content {
    padding: 12px;
    border: 1px solid green;
    flex: 1;
    height: 100%;
    overflow: auto;
  }
}
